<h2>Ok, Now it's time to select a party venue for your student's party</h2>


<h3>Remember, if there's a conflict with another student's party, you may be</h3>
<h3>asked to share the space with that student for a big joint party blowout!</h3>

<form action="/students/<%= @students.id %>" method="post">
  <label for="venues">Choose a venue:</label>
  <select id="venues" name="venues">
    <option value="Gym">Gymnasium</option>
    <option value="Gym*">Gym(will share)</option>
    <option value="Caf">Cafeteria</option>
    <option value="Caf*">Cafeteria(will share)</option>
  </select>
  <input type="submit">
</form>
