<h2>Add a Student to your List:</h2>

<form action="/students" method="post">
  <p>Student's Name: <input type="text" name="student_name"></p>
  <p>Student's Birthday: <input type="date" name="student_birthday"></p>
  <p><input type="submit" value="submit"></p>
</form>
