<h2>Sign Up</h2>

<form action="/signup" method="post">
  <p>Teacher's Name: <input type="text" name="name"></p>
  <p>Email Address: <input type="text" name="email" placeholder="Official School email"></p>
  <p>Password: <input type="text" name="password"></p>
  <p><input type="submit" value="Sign Up"></p>
</form>
