<h2>Welcome back!</h2>

<h3>Sign In:</h3>
<form action="/login" method="post">
  <p>Email Address: <input type="text" name="email" placeholder="email"></p>
  <p>Password: <input type="text" name="password" placeholder="password"></p>
  <p><input type="submit" value="Sign In"></p>
</form>